* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif; }

/* head section */
.head {
  background: url(../image/banner-bg.png);
  width: 100%;
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover; }

.title-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px; }

.list-of-head {
  display: flex;
  flex-direction: row; }
  .list-of-head__lists {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0% auto;
    padding-top: 70px;
    color: white; }

.link {
  text-decoration: none;
  list-style: none; }
  .link__item {
    text-decoration: none;
    color: white;
    font-size: 18px; }
  .link__item:hover {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #6610f2; }

.text {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Righteous', Regular;
  font-size: 80px;
  padding-top: 100px; }

.head-para {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  line-height: 1.625; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px; }
  .button__btn {
    background: #ffffff;
    width: 200px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50px; }
  .button__btn:hover {
    background: #6610f2;
    border: 1px solid #6610f2; }
  .button__link {
    color: #6c757d;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none; }
  .button__link:hover {
    color: #ffffff; }

.services {
  width: 100%;
  height: 800px; }

.text-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; }

.text-head-three {
  font-family: sans-serif;
  font-size: 40px;
  padding-bottom: 15px; }

.img-service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 100px; }

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button-services {
  width: 170px;
  height: 50px;
  margin-top: 30px;
  background: #2b2278;
  border: 1px solid #2b2278;
  border-radius: 50px; }
  .button-services__link {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold; }

.button-services:hover {
  background: black; }

.button-services--black {
  width: 170px;
  height: 50px;
  margin-top: 30px;
  background: black;
  border: 1px solid black;
  border-radius: 50px; }
  .button-services--black__link {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold; }

.about-section {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 100px; }

.about-text {
  width: 50%;
  padding-top: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: nowrap; }

.about-img__img {
  width: 800px;
  height: 650px; }

.title-about {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold; }

.para-text {
  line-height: 1.625;
  font-size: 16px;
  font-family: sans-serif; }

.button-about {
  width: 150px;
  height: 50px;
  background: black;
  border: 1px solid black;
  border-radius: 50px; }
  .button-about__link {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold; }

.button-about:hover {
  background-color: #2b2278;
  border: 1px solid #2b2278; }

.vedio-section {
  width: 100%;
  height: 1000px;
  background-image: url(../image/blog-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.text-vedio {
  padding-top: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 30px; }

.title-vedio {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold; }

.para-vedio {
  text-align: center;
  line-height: 1.625;
  font-size: 17px;
  font-family: sans-serif; }

.play_icon_main {
  width: 100%;
  margin-top: 150px;
  float: left; }

.play_icon {
  width: 200px;
  margin: 0 auto;
  position: relative;
  z-index: 5; }

.play_icon::before {
  content: '';
  position: absolute;
  top: 49%;
  left: 70px;
  width: 130px;
  height: 130px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 100%;
  z-index: -1;
  animation: fadeEffect 1.3s infinite ease;
  box-shadow: 0px 0px 10px 0px;
  right: inherit; }

@keyframes fadeEffect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0; } }

.test-section {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.information_test {
  width: 50%;
  height: 400px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px gainsboro; }

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px; }

.imge {
  width: 300px;
  height: 150px; }
