* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif; }

/* head section */
.head {
  background: url(../image/banner-bg.png);
  width: 100%;
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover; }

.title-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px; }

.list-of-head {
  display: flex;
  flex-direction: row; }
  .list-of-head__lists {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0% auto;
    padding-top: 70px;
    color: white; }

.link {
  text-decoration: none;
  list-style: none; }
  .link__item {
    text-decoration: none;
    color: white;
    font-size: 18px; }
  .link__item:hover {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #6610f2; }

.text {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Righteous', Regular;
  font-size: 80px;
  padding-top: 100px; }

.head-para {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  line-height: 1.625; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px; }
  .button__btn {
    background: #ffffff;
    width: 200px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50px; }
  .button__btn:hover {
    background: #6610f2;
    border: 1px solid #6610f2; }
  .button__link {
    color: #6c757d;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none; }
  .button__link:hover {
    color: #ffffff; }

.services {
  width: 100%;
  height: 800px; }

.text-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; }

.text-head-three {
  font-family: sans-serif;
  font-size: 40px;
  padding-bottom: 15px; }

.img-service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 100px; }

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button-services {
  width: 170px;
  height: 50px;
  margin-top: 30px;
  background: #2b2278;
  border: 1px solid #2b2278;
  border-radius: 50px; }
  .button-services__link {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold; }

.button-services:hover {
  background: black; }

.button-services--black {
  width: 170px;
  height: 50px;
  margin-top: 30px;
  background: black;
  border: 1px solid black;
  border-radius: 50px; }
  .button-services--black__link {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold; }

.about-section {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 100px; }

.about-text {
  width: 50%;
  padding-top: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px; }

.about-img__img {
  width: 800px;
  height: 650px; }
